@model PublicJournal.Models.Models.EventModel

@{
    ViewBag.Title = "Event";
}

<div class="container-fluid fill menu-buffer text-center event-page-header" style="background-image:url('@Url.Content("~/Content/images/festival2.jpg")')">
    <div class="overlay">
        <h1>@Model.EventName</h1>
        <h2>@Model.City, @Model.Country</h2>
        <span>@Model.StartDate - @Model.EndDate</span>
    </div>
</div>

<div class="container top-buffer">
    <div class="row">
        <div class="col-md-3" id="leftCol">
            <div class="img-rounded text-center price-box">
                <span>price starting</span>
                <h1>@Model.PackagePrice</h1> Per person
            </div>
            <div class="img-rounded filter-box price-details-box">
                <h2 class="text-center">Packages Include</h2>
                <div class="row details">
                    <div class="col-md-3 text-right">
                        <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-9 text-left">
                        <p>@Model.Flight.AirportDeparture, @Model.Flight.CityDeparture - @Model.Flight.AirportLanding, @Model.Flight.CityLanding</p>
                        <p>@Model.Flight.AirportLanding, @Model.Flight.CityLanding - @Model.Flight.AirportDeparture, @Model.Flight.CityDeparture</p>
                    </div>
                </div>
                <div class="row details">
                    <div class="col-md-3 text-right">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-9 text-left">
                        <p>@Model.NoOfNightsIncluded nights</p>
                        <p>accomodation</p>
                    </div>
                </div>
                <div class="row details">
                    <div class="col-md-3 text-right">
                        <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-9 text-left">
                        <p>event ticket</p>
                    </div>
                </div>
                <div class="text-center book-now-container">

                    <a href="/Events/Book/@Model.EventId" class="btn btn-primary btn-lg outline">Book now</a>
                    <br /><br />
                    <form action="https://bitpay.com/checkout" method="post">
                        <input type="hidden" name="action" value="checkout" />
                        <input type="hidden" name="posData" value="" />
                        <input type="hidden" name="data" value="Ap+OznLQzN+Sq4+tdA7usfyJGr69QuAH5aGpjhTMq3zAp/GDx257n2puqHuSFCB74leNSGD/H8TTR8Kf/IDAlzXRdcLmq6kBF8qRPjIkiXAGiuoIDbJh3FdxrwNKHFmA+VUxtqDr4u/DokVs50RBYBILIjCPRZecBDKYlTPhnv9GyfaNfL2hX9dUEAdoqK7HLTwRNoc8/RkqKWRoTAGn3oh4czEtNI5Rq4DgixgtdC4=" />
                        <input type="image" src="https://bitpay.com/img/button5.png" border="0" name="submit" alt="BitPay, the easy way to pay with bitcoins.">
                    </form>
                </div>
                
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                
                @*<p>@Model.LongDescription</p>*@
                <h2>3RD EDITION ELECTRIC CASTLE</h2> 
                <p>Electric Castle is the largest music festival in Romania and it’s the first Romanian festival that took electronic dance music and live concert sounds to a castle’s domain. After the legendary first two editions, Electric Castle 2015 gets even bigger with 6 stages and over 150 artists. On it’s first edition, the festival was shortlisted for the Best Medium Sized Festival category at Festival Awards, among festivals such as Melt!, Balaton Sound, I Love Techno or Volt. On the second edition, in 2014, Electric Castle was again shortlisted for the Best Medium Sized Festival at Festival Awards.</p>
                <p>Held on the domain of Bánffy Castle (or Bonțida Bánffy Castle), the festival wants to be more than a concert extension and tries to offer a full experience to the participants by creating a mix between the unique location, filled with beauty and history, all day round urban activities (like extreme sports, audio-video production workshops) and a large variety of electronic music. Electric Castle Festival it’s a Boiler Events production.</p>
                
            </div>
        </div>
    </div>
</div>