@using PublicJournal.Models.Models

@model PublicJournal.Models.Models.EventsModel
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid menu-buffer text-center events-header @Model.CategoryCssClass">
    <h1>Electronic Music Events</h1>
    <p>The following is an incomplete list of music festivals that feature electronic music</p>
</div>

<div class="container top-buffer">
    <div class="row">
        <div class="col-md-3" id="leftCol">
            <div>
                <h2>Filter by Country</h2>
                <ul class="nav nav-stacked" id="sidebar">
                    <li><a href="#sec0">Hungary</a></li>
                    <li><a href="#sec1">Romania</a></li>
                    <li><a href="#sec2">Croatia</a></li>
                    <li><a href="#sec3">Muntenegru</a></li>
                    <li><a href="#sec4">Serbia</a></li>
                </ul>
            </div>
            <div>
                <h2>Event Types</h2>
                <ul class="nav nav-stacked" id="sidebar">
                    <li><a href="#sec0">Hungary</a></li>
                    <li><a href="#sec1">Romania</a></li>
                    <li><a href="#sec2">Croatia</a></li>
                    <li><a href="#sec3">Muntenegru</a></li>
                    <li><a href="#sec4">Serbia</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                @foreach(EventModel item in Model.ListEvents)
                {
                <div class="col-md-4 event">
                    <div class="image-container">
                        <a href="@Url.Action("Event", "Events", new { id = 1 })"><img class="img-responsive" src="@Url.Content("~/Content/images/" + item.ImageName + ".jpg")" /></a>
                        <span class="@item.Category.ImageName category" > @item.Category.Name</span>
                    </div>
                    <h2>@item.EventName</h2>
                    <strong>@item.StartDate - @item.EndDate</strong>
                    <p>@item.Description</p>
                </div>
                }
                <div class="col-md-4 event">
                    <div class="image-container">
                        <a href="@Url.Action("Event", "Events", new { id = 1 })"><img class="img-responsive" src="@Url.Content("~/Content/images/festival2.jpg")" /></a>
                        <span class="contemporary-music category">Electronic Music</span>
                    </div>
                    <h2>Untold Festival</h2>
                    <strong>30.07 - 02.08 2015</strong>
                    <p>A short description of the event so the user can have an idea what is all about...</p>
                </div>
                @*<div class="col-md-4 event">
                    <div class="image-container">
                        <a href="@Url.Action("Event", "Events", new { id = 1 })"><img class="img-responsive" src="@Url.Content("~/Content/images/festival3.jpg")" /></a>
                        <span class="unusual category">Electronic Music</span>
                    </div>
                    <h2>Untold Festival</h2>
                    <strong>30.07 - 02.08 2015</strong>
                    <p>A short description of the event so the user can have an idea what is all about...</p>
                </div>
                <div class="col-md-4 event">
                    <div class="image-container">
                        <a href="@Url.Action("Event", "Events", new { id = 1 })"><img class="img-responsive" src="@Url.Content("~/Content/images/festival4.jpg")" /></a>
                        <span class="food-drink category">Electronic Music</span>
                    </div>
                    <h2>Untold Festival</h2>
                    <strong>30.07 - 02.08 2015</strong>
                    <p>A short description of the event so the user can have an idea what is all about...</p>
                </div>
                <div class="col-md-4 event">
                    <div class="image-container">
                        <a href="@Url.Action("Event", "Events", new { id = 1 })"><img class="img-responsive" src="@Url.Content("~/Content/images/festival5.jpg")" /></a>
                        <span class="food-drink category">Electronic Music</span>
                    </div>
                    <h2>Untold Festival</h2>
                    <strong>30.07 - 02.08 2015</strong>
                    <p>A short description of the event so the user can have an idea what is all about...</p>
                </div>
                <div class="col-md-4 event">
                    <div class="image-container">
                        <a href="@Url.Action("Event", "Events", new { id = 1 })"><img class="img-responsive" src="@Url.Content("~/Content/images/festival1.jpg")" /></a>
                        <span class="contemporary-music category">Electronic Music</span>
                    </div>
                    <h2>Untold Festival</h2>
                    <strong>30.07 - 02.08 2015</strong>
                    <p>A short description of the event so the user can have an idea what is all about...</p>
                </div>*@
            </div>            
        </div>
    </div>
</div>