<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Travique</title>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_TopMenu")
    @RenderBody()
    <footer class="container-fluid travique-footer">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <img src="@Url.Content("~/Content/images/logo.png")" />
                <p>&copy;&nbsp;2015 Travique</p>
                <p>All rights reserved</p>
            </div>
            <div class="col-sm-6 col-md-3 border">
                <div class="col-md-6">
                    <div><a>TRAVEL</a></div>
                    <div><a>EXPLORERS</a></div>
                    <div><a>NATURE</a></div>
                    <div><a>SCIENCE</a></div>
                    <div><a>ADVICES</a></div>
                </div>
                <div class="col-md-6">
                    <div><a>About</a></div>
                    <div><a>Contact</a></div>
                    <div><a>Terms of Service</a></div>
                    <div><a>Privacy Policy</a></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 border">
                <h4>FOLLOW US</h4>
                <ul>
                    <li>
                        <a href="#">
                            <img src="@Url.Content("~/Content/images/ic_facebook_light.png")">
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="@Url.Content("~/Content/images/ic_twitter_light.png")">
                            <span>Twitter</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img src="@Url.Content("~/Content/images/ic_instagram_light.png")">
                            <span>Instagram</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="@Url.Content("~/Content/images/ic_rss_light.png")">
                            <span>RSS</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <h4>SUBSCRIBE TO OUR NEWS</h4>
                <p>A rover wearing a fuzzy suit doesn't alarm the real penguins.</p>
                <form>
                    <input type="text" />
                    <input type="submit" />
                </form>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
