<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Travique</title>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_TopMenu")
    @RenderBody()
    <footer class="container-fluid travique-footer">
        <div class="row">
            <div class="col-sm-6 col-md-3 travique-footer-box text-left">
                <img src="@Url.Content("~/Content/images/logo.png")" />
            </div>
            <div class="col-sm-6 col-md-6 travique-footer-box text-center">
                <ul class="travique-footer-keywords">
                    <li>TRAVEL</li>
                    <li>EXPLORERS</li>
                    <li>NATURE</li>
                    <li>SCIENCE</li>
                    <li>ADVICES</li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 travique-footer-box text-right">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/pages/GoTravique/382319618620598" target="_blank"><img src="@Url.Content("~/Content/images/ic_facebook_light.png")"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/GoTravique" target="_blank"><img src="@Url.Content("~/Content/images/ic_twitter_light.png")"></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
