<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img alt="Brand" src="@Url.Content("~/Content/images/logo.png")">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><img src="@Url.Content("~/Content/images/ic_user.png")" /></li>
                <li><a href="@Url.Action("Login", "Account")">Login</a></li>
                <li>&nbsp;|&nbsp;</li>
                <li><a href="@Url.Action("Signup", "Account")">Signup</a></li>
                <li><a href="http://www.facebook.com/travique"><img src="@Url.Content("~/Content/images/ic_facebook.png")" /></a></li>
                <li><a href="http://www.twitter.com/travique"><img src="@Url.Content("~/Content/images/ic_twitter.png")" /></a></li>
                <li><a href="http://www.instagram.com/travique"><img src="@Url.Content("~/Content/images/ic_instagram.png")" /></a></li>
            </ul>
        </div>
    </div>
</nav>