@using PublicJournal.Models.Models
@model HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="container fill">
    <div id="travique-carousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="active item text-center">
                <div class="overlay"></div>
                <div class="fill" style="background-image: url('@Url.Content("~/Content/images/festival1.jpg")');">
                    <div class="carousel-caption travique-carousel-caption">
                        <h1>ELECTRIC CASTLE FESTIVAL</h1>
                        <p>June 25-28 2015, Cluj, Romania</p>
                        <p>Presale available until May 15</p>
                        <a href="#" class="btn btn-primary btn-lg outline">View details</a>
                    </div>
                </div>
            </div>
            <div class="item text-center">
                <div class="overlay"></div>
                <div class="fill" style="background-image: url('@Url.Content("~/Content/images/festival2.jpg")');">
                    <div class="carousel-caption travique-carousel-caption">
                        <h1>ELECTRIC CASTLE FESTIVAL</h1>
                        <p>June 25-28 2015, Cluj, Romania</p>
                        <p>Presale available until May 15</p>
                        <a href="#" class="btn btn-primary btn-lg outline">View details</a>
                    </div>
                </div>
            </div>
            <div class="item text-center">
                <div class="overlay"></div>
                <div class="fill" style="background-image: url('@Url.Content("~/Content/images/festival3.jpg")');">
                    <div class="carousel-caption travique-carousel-caption">
                        <h1>ELECTRIC CASTLE FESTIVAL</h1>
                        <p>June 25-28 2015, Cluj, Romania</p>
                        <p>Presale available until May 15</p>
                        <a href="#" class="btn btn-primary btn-lg outline">View details</a>
                    </div>
                </div>
            </div>
            <div class="item text-center">
                <div class="overlay"></div>
                <div class="fill" style="background-image: url('@Url.Content("~/Content/images/festival4.jpg")');">
                    <div class="carousel-caption travique-carousel-caption">
                        <h1>ELECTRIC CASTLE FESTIVAL</h1>
                        <p>June 25-28 2015, Cluj, Romania</p>
                        <p>Presale available until May 15</p>
                        <a href="#" class="btn btn-primary btn-lg outline">View details</a>
                    </div>
                </div>
            </div>
            <div class="item text-center">
                <div class="overlay"></div>
                <div class="fill" style="background-image: url('@Url.Content("~/Content/images/festival5.jpg")');">
                    <div class="carousel-caption travique-carousel-caption">
                        <h1>ELECTRIC CASTLE FESTIVAL</h1>
                        <p>June 25-28 2015, Cluj, Romania</p>
                        <p>Presale available until May 15</p>
                        <a href="#" class="btn btn-primary btn-lg outline">View details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-center">
            <a class="left carousel-control travique-carousel-control-left" href="#travique-carousel" data-slide="prev">
                <img src="@Url.Content("~/Content/images/slider_arrow_left.png")" />
            </a>
            <a class="right carousel-control travique-carousel-control-right" href="#travique-carousel" data-slide="next">
                <img src="@Url.Content("~/Content/images/slider_arrow_right.png")" />
            </a>
        </div>
    </div>
</div>

<div class="container top-buffer">
    <div class="row">
        @foreach(CategoryModel item in Model.ListCategories)
        {
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="img-rounded travique-main-category-box @item.ImageName">
                <h3>@item.Name Events</h3>
                @*<h3>Contemporary Music Events</h3>*@
                <p>@item.Description</p>
                <a href="@Url.Action("Index", "Events", new { id = item.Id })" class="btn btn-primary btn-lg outline focused btn-bottom">View events</a>
            </div>
         </div>
        }
        @*<div class="col-xs-12 col-sm-6 col-md-3">
            <div class="img-rounded travique-main-category-box contemporary-music">
                <h5>CONTEMPORARY MUSIC</h5>
                <h3>Contemporary Music Events</h3>
                <p>Will Hersey recalls a disastruous encouter with the holiest man alive</p>
                <a href="@Url.Action("Index", "Events", new { category = "contemporary-music" })" class="btn btn-primary btn-lg outline focused">View events</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="img-rounded travique-main-category-box electronic-music">
                <h5>ELECTRONIC MUSIC</h5>
                <h3>Electronic Music Events</h3>
                <p>Will Hersey recalls a disastruous encouter with the holiest man alive</p>
                <a href="@Url.Action("Index", "Events", new { category = "electronic-music" })" class="btn btn-primary btn-lg outline focused">View events</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="img-rounded travique-main-category-box food-drink">
                <h5>FOOD & DRINK</h5>
                <h3>Food & Drink Events</h3>
                <p>Will Hersey recalls a disastruous encouter with the holiest man alive</p>
                <a href="@Url.Action("Index", "Events", new { category = "food-drink" })" class="btn btn-primary btn-lg outline focused">View events</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="img-rounded travique-main-category-box unusual">
                <h5>UNUSUAL</h5>
                <h3>Unusual Events</h3>
                <p>Will Hersey recalls a disastruous encouter with the holiest man alive</p>
                <a href="@Url.Action("Index", "Events", new { category = "unusual" })" class="btn btn-primary btn-lg outline focused">View events</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="img-rounded travique-main-category-box contemporary-music">
                <h5>CONTEMPORARY MUSIC</h5>
                <h3>Contemporary Music Events</h3>
                <p>Will Hersey recalls a disastruous encouter with the holiest man alive</p>
                <a href="#" class="btn btn-primary btn-lg outline focused">View events</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="img-rounded travique-main-category-box electronic-music">
                <h5>ELECTRONIC MUSIC</h5>
                <h3>Electronic Music Events</h3>
                <p>Will Hersey recalls a disastruous encouter with the holiest man alive</p>
                <a href="#" class="btn btn-primary btn-lg outline focused">View events</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="img-rounded travique-main-category-box food-drink">
                <h5>FOOD & DRINK</h5>
                <h3>Food & Drink Events</h3>
                <p>Will Hersey recalls a disastruous encouter with the holiest man alive</p>
                <a href="#" class="btn btn-primary btn-lg outline focused">View events</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="img-rounded travique-main-category-box unusual">
                <h5>UNUSUAL</h5>
                <h3>Unusual Events</h3>
                <p>Will Hersey recalls a disastruous encouter with the holiest man alive</p>
                <a href="#" class="btn btn-primary btn-lg outline focused">View events</a>
            </div>
        </div>*@
    </div>
    <h2 class="text-center">Partners</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 text-center travique-main-partner-box">
            <img src="@Url.Content("~/Content/images/partner_logo_1.png")" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center travique-main-partner-box">
            <img src="@Url.Content("~/Content/images/partner_logo_2.png")" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center travique-main-partner-box">
            <img src="@Url.Content("~/Content/images/partner_logo_3.png")" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center travique-main-partner-box">
            <img src="@Url.Content("~/Content/images/partner_logo_4.png")" />
        </div>
    </div>
</div>